<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355753409164-km3540pq34aua9mlvov2k62oic7v8dji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355753409164-km3540pq34aua9mlvov2k62oic7v8dji</string>
	<key>API_KEY</key>
	<string>AIzaSyCgmFyfByGxsdnmh8YthZcxBgAzsAZUpQE</string>
	<key>GCM_SENDER_ID</key>
	<string>355753409164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saga</string>
	<key>PROJECT_ID</key>
	<string>saga-333613</string>
	<key>STORAGE_BUCKET</key>
	<string>saga-333613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355753409164:ios:2d8940030d6f9ccaa4d9a9</string>
</dict>
</plist>